$background: rgb(228, 228, 228);

.test {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/******************** HOME */
.home-container {
  background-color: $background;
  height: 90vh;
}

@media screen and (max-width: 800px) {
  .nonFriend-pics {
    height: auto;
    width: auto;
    max-width: 250px;
    margin: auto;
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  .nonFriend-pics {
    height: auto;
    width: auto;
    max-width: 150px;
    margin: auto;
    margin-top: 10px;
  }
}

/*********************** NAVBAR */
.profile-pic {
  width: 40px;
  border-radius: 50%;
  height: 40px;
}

/*********************** WELCOME */
.welcome-container {
  background-color: $background;
  height: 100vh;
}

.title {
  font-size: 100px;
}

@media screen and (max-width: 990px) {
  .title {
    font-size: 75px;
  }
}

@media screen and (max-width: 760px) {
  .title {
    font-size: 75px;
    padding-top: 100px;
  }
}
@media screen and (max-width: 350px) {
  .title {
    font-size: 60px;
  }
}
/************************************ REQUEST BUTTON */

.mx {
  margin: auto;
  display: block;
  max-width: 200px;
  height: auto;
}

.x {
  background-color: $background;
}

.circle-image {
  background-color: red;
  height: 30px;
  border-radius: 50%;
  width: 30px;
}
